name: vps

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Restore Previous Files (from branch or artifacts)
        run: |
          mkdir -p restore
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git clone --depth 1 --single-branch --branch backup https://github.com/${{ github.repository }} restore || echo "No backup branch"
          cp -r restore/data/* ~/ || echo "Nothing to restore"

      - name: Run VPS
        run: curl -sSf https://sshx.io/get | sh -s run

      - name: Save Home Directory to Repo
        if: always()
        run: |
          mkdir -p save/data
          cp -r ~/ save/data/
          cd save
          git init
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"
          git remote add origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git checkout -b backup
          git add .
          git commit -m "Auto backup $(date)"
          git push -f origin backup
